html{
	background-image: url(https://www.fasken.com/-/media/29b8b6a371344d40a392350b395691d6.ashx);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

div{
	width: 60%;
	margin: 3% 20% 20% 20%;
	border: 14px solid #eda489;
	padding: 2%;
	font-family: 'Source Sans Pro', serif;
	background-color: white;
}

h1{
	color: #fe5b35;
	letter-spacing: 0.3em;
	font-size: 1.0em;
	font-weight: 400;
}

h2{
	color: #2c3e50;
	font-weight: 700;
	font-size: 2.0em;
}

div p:nth-of-type(3n + 1){
	border-left: 6px solid #eda489;
}

hr{
	color: #f1f1f1;
}

a{
	font-weight: 700;
	color: black;
	font-family: 'Source Sans Pro', serif;
	font-size: 2.3em;
	text-decoration: none;
	margin-left: .5em;
}

a:hover{
	color: lightgray;
}

p{
	padding-left: .2em;
}

h3{
	text-align: center;
	font-size: 5em;
	margin: 0;
	padding-bottom: .2em;
	border-bottom: 1px solid black;
}

img{
	float: left;
	width: 25%;
	border-radius: 10px;
	margin: .2em;
}