
body { 
  background: url("https://i.imgur.com/FVxGXU5.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cover-heading{
  	font-size: 10.0em;
  	width: 100%;
  	color: #f4e9f5;
  	margin-top: 0.2em;
    text-align: center;

}

#subheading{
	 text-align: center;
  	font-size: 5.0em;
  	color: #f4e9f5;
  	width: 100%;
  	margin-top: 0em;
  	font-weight: 400;
}

#twitter{
  margin: 30em auto 0 auto;
  width: 10%;
}




