
.nav-item.dropdown{
  padding-left: 0.25em;
}
.Header {
	font-size: 3.5em;
}
.projectTitle{
  font-size: 4.0vw;
  margin: .5em auto;
}

.WebpageTitles{
  font-size: 4.5em;
  text-align: center;
  text-decoration: underline;
  margin-top: 1em;

}
p{
  font-size: 1.25vw;
  margin-bottom: 0;
}


}
h3{
  font-size: 2.5em;

}
#Jeopardy{
  text-align: center;
  background-image: radial-gradient(circle, royalblue, purple);
  padding-bottom: 0;
  width: 50%;
  margin: auto;
  border-radius: 1em;


}

#decToBi{
  margin-right: 1em;
  text-align: center;
  padding-bottom: 0;
  width: 48%;
  background-image: radial-gradient(circle, #ead0c7, #918581);
  color: white;
  float: right;
  border-radius: 1em;
}

.projectImages{
  width: 80%;
  height: auto;
}

#Cygnus img.projectImages {
  width: 44.6%;
  height: auto;
}
#Cygnus{
  margin-left: 1em;
  text-align: center;
  background-image: radial-gradient(circle, gray, #e8e6c0);
  padding-bottom: 0;
  width: 48%;
  float: left;
  border-radius: 1em;



}

.card-header{
  font-size: 3em;
  color: blue;
}
#logo{
  position: static;
  display: inline-block;
  width: 10%;
  margin-left: 1em;
  margin-top: 1em;
  margin-right: -40em;
  margin-bottom: 10.0em;
  float: left;

}

body{
  background-image: url("white-waves.png");
  text-align: center;
  font-family: 'Roboto', sans-serif;
  
}

.Content{
  margin-top: 6em;
  padding: 1em;
}

.Content-Skills{
  float: left;
}

.Content p{
  text-align: center;

}

@media screen and (max-width: 1000px) {
  #logo {
    display: none;
  }
}

span.websiteName{
  color: #f4e9f5;
  font-size: 1.5em;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
  padding: 0;

}

.card-about{
  width: 50%;
  margin: 2em;
  text-align: center;
  background-color: #fff;
  background-clip: border-box;
  float: left;
}

.card{
  width: 60%;
  margin: 4em auto;
  text-align: center;
}

h5.card-title{
  font-size: 3.5vw;
}

a.nav-link:hover{
  text-decoration: underline;
}

.fa, .fab{
    font-size: 30px;
    margin: 10px;
    padding: 20px;
    border-radius: 50px;
    border: solid gray .6px;
    background-color: #f4f5f7;
}

.AP-text p{
  font-size: 1vw;
}

.AP-text p strong{
  font-size: 1.5vw;
}

.card-AP{
  width: 40%;
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 4em auto;
}

.card-AP img{
  width: 100%;
}

