
#Title{
	color: #f4e9f5;
	font-size: 5.5em;
  margin-left: 0em;
  margin-top: .7em;
  margin-bottom: 0em;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
  text-align: center;
  width: 100%;
  height: auto;

}
#Welcome {
	font-size: 3.0em;
  text-align: center;
  margin-bottom: 0.4em;
}
.nav-item.dropdown{
  padding-left: 0.25em;
}
.Header {
	font-size: 3.5em;
}
.projectTitle{
  font-size: 4.0em;
  margin: .5em auto;
}

.WebpageTitles{
  font-size: 4.5em;
  text-align: center;
  text-decoration: underline;\

}
p{
  font-size: 2.0em;
  margin-bottom: 0;
}


}
h3{
  font-size: 2.5em;

}
#Jeopardy{
  text-align: center;
  background-image: radial-gradient(circle, royalblue, purple);
  padding-bottom: 0;
  width: 50%;
  margin: auto;
  border-radius: 1em;


}

#decToBi{
  margin-right: 1em;
  text-align: center;
  padding-bottom: 0;
  width: 48%;
  background-image: radial-gradient(circle, #ead0c7, #918581);
  color: white;
  float: right;
  border-radius: 1em;
}

.projectImages{
  width: 80%;
  height: auto;
}

#Cygnus img.projectImages {
  width: 42%;
  height: auto;
}
#Cygnus{
  margin-left: 1em;
  text-align: center;
  background-image: radial-gradient(circle, gray, #e8e6c0);
  padding-bottom: 0;
  width: 48%;
  float: left;
  border-radius: 1em;


}

#Contact{
  background-color: #ffe521;
  width: 40%;
  margin-top: 3.0em;
  box-shadow: 10px 10px 5px grey;
  height: auto;

}
#logo{
  position: static;
  display: inline-block;
  width: 10%;
  margin-left: 1em;
  margin-top: 1em;
  margin-right: -40em;
  margin-bottom: 10.0em;
  float: left;

}

body{
  background-image: url("white-waves.png");
  text-align: center;
  font-family: 'Roboto', sans-serif;
  
}

.Content{
  margin: auto;
}

.Content p{
  text-align: center;

}

@media screen and (max-width: 1000px) {
  #logo {
    display: none;
  }
}


